$fontColor: #0091aa;
$colorHeading: #be4a14;
#content  // div with id: content
{
    color: $fontColor;
}

h1{
    color: $colorHeading;
}

  
table, th, td {
    border-collapse: collapse;
  }
tr{
    background-color: coral;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: red;
    font-size: 20px;
  }